<!doctype html>
<html lang="en" ng-app="blogApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Blog</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Canonical SEO -->
	<link rel="canonical" href="http://www.creative-tim.com/product/material-kit-pro" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/assets/css/material-kit.min.css" rel="stylesheet"/>
</head>

<body>
	<div ui-view="content">
	</div>
	<footer class="footer">
		<div class="container">
			<a class="footer-brand" href="blog-posts.html#pablo">Material Kit PRO</a>


			<ul class="pull-center">
				<li>
					<a href="blog-posts.html#pablo">
					   Blog
					</a>
				</li>
				<li>
					<a href="blog-posts.html#pablo">
						Presentation
					</a>
				</li>
				<li>
					<a href="blog-posts.html#pablo">
					   Discover
					</a>
				</li>
				<li>
					<a href="blog-posts.html#pablo">
						Payment
					</a>
				</li>
				<li>
					<a href="blog-posts.html#pablo">
						Contact Us
					</a>
				</li>
			</ul>

			<ul class="social-buttons pull-right">
				<li>
					<a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-facebook btn-simple">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-google btn-simple">
						<i class="fa fa-google"></i>
					</a>
				</li>
			</ul>

		</div>
	</footer>

</body>
<!--   Core JS Files   -->
<script src="static/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="static/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/assets/js/material.min.js"></script>

<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
<script src="static/assets/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
<script src="static/assets/js/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
<script src="static/assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
<script src="static/assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
<script src="static/assets/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
<script src="static/assets/js/jasny-bootstrap.min.js"></script>

<!--    Plugin for 3D images animation effect, full documentation here: https://github.com/drewwilson/atvImg    -->
<script src="static/assets/js/atv-img-animation.js" type="text/javascript"></script>

<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
<script src="static/assets/js/material-kit.min.js" type="text/javascript"></script>

<script src="static/lib/angular.min.js" type="text/javascript"></script>
<script src="static/lib/angular-ui-router.min.js" type="text/javascript"></script>

<script src="static/js/app.module.js" type="text/javascript"></script>
<script src="static/js/app.state.js" type="text/javascript"></script>
<script src="static/js/account/account.state.js" type="text/javascript"></script>
<script src="static/js/account/account.controller.js" type="text/javascript"></script>

<script src="static/js/blog/blog.state.js" type="text/javascript"></script>
<script src="static/js/blog/blog.service.js" type="text/javascript"></script>
<script src="static/js/blog/blog.controller.js" type="text/javascript"></script>
<script src="static/js/blog/blog-create-update.controller.js" type="text/javascript"></script>
</html>
