<div class="blog-posts">
  <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="../presentation.html">Material Kit PRO</a>
        	</div>

        	<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="blog-posts.html#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_day</i> Sections
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li>
								<a ui-sref="blog.list">
									<i class="material-icons">list</i> Blogs
								</a>
							</li>
							<li>
								<a ui-sref="blog.new">
									<i class="material-icons">assignment</i> Tạo mới Blog
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" ng-click="vm.logout()">
									<i class="material-icons">account_circle</i> Đăng Xuất
								</a>
							</li>

						</ul>
					</li>

        		</ul>
        	</div>
    	</div>
    </nav>

	<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('static/images/bg10.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">A Place for Entrepreneurs to Share and Discover New Stories</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="container">

			<div class="section">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<ul class="nav nav-pills nav-pills-primary">
						  <li class="active" ng-click="vm.enterAllBlog()"><a href="javascript:void(0)" data-toggle="tab">Tất Cả</a></li>
						  <li ng-click="vm.enterYourBlog()"><a href="javascript:void(0)" data-toggle="tab">Của Bạn</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="section" style="padding-top: 0;">
				<div class="row">
            <div class="col-md-4" ng-repeat="blog in vm.blogs track by blog.id" style="height: 595px;">
              <div class="card card-plain card-blog">
                <div class="card-image">
                  <img class="img img-raised" ng-src="static/images/{{vm.randomImage(blog.id)}}" />
                </div>

                <div class="card-content">
                  <h6 class="category text-info">{{blog.datetime}}</h6>
                  <h4 class="card-title">
                    <a href="javascript:void(0)">{{blog.title}}</a>
                  </h4>
                  <p class="card-description">
                    {{blog.content.substring(0, 250)}}
                    <a ui-sref="blog.detail({id:blog.id})">&nbsp;Chi tiết&nbsp;</a>
                    <a ng-show="vm.isEdit" ui-sref="blog.edit({id:blog.id})">&nbsp;Chỉnh Sửa&nbsp;</a>
                    <a ng-show="vm.isEdit" ng-click="vm.deletePost(blog.id)" href="javascript:void(0)">&nbsp;Xóa&nbsp;</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="dataTables_length" id="DataTables_Table_0_length">
        			<label class="pull-left"> Hiển thị
                <select class="form-control-search input-sm"  ng-options="size as size for size in vm.sizePerPages"
                    ng-change="vm.transition()" ng-model="vm.entries">
        			  </select> blogs
        			</label>
              <label class="pull-right">
              <ul class="pagination" style="padding: 0px; margin: 0px;">
                <li><a ng-click="vm.previousPage()" href="javascript:void(0)">&laquo;</a></li>
                <li ng-repeat="page in vm.pageLst track by page" ng-class="page == vm.page ? 'active' : ''"><a ng-click="vm.changePage(page)" href="javascript:void(0)">{{page}}</a></li>
                <li><a ng-click="vm.nextPage()" href="javascript:void(0)">&raquo;</a></li>
              </ul>
            </label>
        		</div>

				</div><!--end data-->
			</div>
		</div>

    </div>
</div>
